{% extends 'main.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="row">
    <div class="col-lg-4 mb-3">
        <div class="card border-0 shadow-sm">
            <div class="card-body">
                <a href="{% url 'home' %}" class="btn btn-light"><i class="fas fa-arrow-left ml-2"></i> Back to
                    Profile</a>
                <hr>
                <div class="d-flex justify-content-center">
                    <img src="{{request.user.customer.profile_pic.url}}" alt="" class="card-img rounded-circle"
                        style="width:240px; height:240px; object-fit:cover;">
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-8 mb-3">
        <div class="card border-0 shadow-sm">
            <div class="card-body">
                <form action="" enctype="multipart/form-data" method="POST">
                    {% csrf_token %}

                    {{form |crispy }}

                    <input type="submit" value="Update Information" class="btn btn-dark">
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}