<div class="row">
    <div class="col-lg-4 mb-3">
        <div class="card shadow-sm border-0" style="background-color: #55efc4;">
            <div class="card-body">
                <h5>Total Order</h5>
                <hr>
                <h1>{{total_orders}}</h1>
            </div>
        </div>
    </div>
    <div class="col-lg-4 mb-3">
        <div class="card shadow-sm border-0" style="background-color: #ffeaa7;">
            <div class="card-body">
                <h5>Delivery</h5>
                <hr>
                <h1>{{delivered}}</h1>
            </div>
        </div>
    </div>
    <div class="col-lg-4 mb-3">
        <div class="card shadow-sm border-0" style="background-color: #fdcb6e;">
            <div class="card-body">
                <h5>Pending</h5>
                <hr>
                <h1>{{pending}}</h1>
            </div>
        </div>
    </div>
</div>